:root{
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial';
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: rgb(197, 197, 197);
    margin-right: 10px;
}

header nav a:hover{
    color: #ffff;
}

/* MAIN AREA */

.main-area {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)), url('/img/main-poster.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-area .synopsis {
    margin-bottom: 30px;
}

.main-area .title {
    font-size: 40px;
}